# WalletConnect Cloud project ID (required for WalletConnect connector)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=4ca9a2d00c213f2c1fecf54091945dd4

NEXT_PUBLIC_POCKET_RPC=https://eth.api.pocket.network
NEXT_PUBLIC_LAVA_RPC=https://g.w.lavanet.xyz:443/gateway/eth/rpc-http/ad4cd90374778ee6df51e35f59831cf8

NEXT_PUBLIC_MAINNET_LAVA_WS_URL=wss://g.w.lavanet.xyz:443/gateway/eth/rpc/ad4cd90374778ee6df51e35f59831cf8
# Optional app metadata / contract address
NEXT_PUBLIC_SITE_URL=https://hainan-infra.com
NEXT_PUBLIC_TICKET_SALE_CONTRACT_ADDRESS=
